html {
    height: 100%;
}
body {
    background-color:blue;
}
header{
    background-color: purple;
    border: solid 1px black;
}
h1{ 
    font-size: xx-large;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
aside {
    height: 600px;
    background-color: rgb(212, 124, 208);
}
div{
    height: 600px;
    background-color: aqua;
}
section {
    height: 600px;
    background-color: rgb(212, 124, 208);
}
li{
    font-size: larger;
    font-weight:bold;
    padding:10px;
}
h2{
    font-size: larger;
    font-weight:bold;
    padding:10px;
}
p{font-size: large;
padding: 5px;}
h3{
    font-size: larger;
    font-weight:bold;
    padding:10px;
}
footer{
    background-color: purple;
    text-align:center;
    padding: 10px;
    color:white;
}